.cluster--container {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 18px;
  padding: 0 6rem;
}

.cluster--wrapper {
  background-color: #fdfffc;
  box-shadow: 0px 0px 7px -1px rgba(37, 37, 37, 0.3);
  -webkit-box-shadow: 0px 0px 7px -1px rgba(37, 37, 37, 0.3);
  -moz-box-shadow: 0px 0px 7px -1px rgba(37, 37, 37, 0.3);
  padding: 18px;
  border-radius: 7px;
}

.cluster--wrapper-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 18px;
  width: 100%;
}

.cluster--wrapper-content-header {
  font-size: 30px;
  color: #252525;
  font-weight: 500;
}

.cluster--wrapper-content-body {
  width: 100%;
  height: auto;
}

.cluster--wrapper-content-body--box-content {
  width: 100%;
  height: 20rem;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px dashed #cfd2cd;
  box-shadow: 0px 0px 7px -1px rgba(37, 37, 37, 0.2);
  -webkit-box-shadow: 0px 0px 7px -1px rgba(37, 37, 37, 0.2);
  -moz-box-shadow: 0px 0px 7px -1px rgba(37, 37, 37, 0.2);
  padding: 20px;
  overflow-y: scroll;
  --sb-track-color: #ffffff;
  --sb-thumb-color: #c2dfe3;
  --sb-size: 15px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.cluster--wrapper-content-body--box-content::-webkit-scrollbar {
  width: var(--sb-size);
}

.cluster--wrapper-content-body--box-content::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 20px;
}

.cluster--wrapper-content-body--box-content::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
}

.cluster--steps {
  padding: 20px;
  height: 30rem;
  width: 20rem;
  display: flex;
  align-items: stretch;
}

.cluster--steps-item {
  font-family: "Figtree", sans-serif;
}
