@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");
*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: #eff7f6;
}
